<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'base' %}">SocialNetwork</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'base' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'profiles' %}">Профили</a>
        </li>
        {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Авторизация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registration' %}">Регистрация</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link">|</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Добро пожаловать, {{ request.user.username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link" href="{% url 'profile' request.user.id %}">Личный кабинет</a></li>
            <li><a class="nav-link" href="{% url 'settings' request.user.id %}">Настройки</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link" href="{% url 'logout' %}">Выйти</a></li>
          </ul>
        </li>
        {% endif %}

      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
  {% block content %}
    <h1>Post wall</h1>
    {% if posts %}
        {% for post in posts %}
        <div class="card">
      <div class="card-header">
          {{ post.title }} | Post by <a href="{{ post.user.get_absolute_url }}">{{ post.user.username }}</a>
      </div>
      <div class="card-body">
        <p class="card-text">{{ post.text }}</p>
          <p class="card-text"><small class="text-muted">Created at {{ post.create_date }}</small></p>
          <p class="card-text"><small class="text-muted">Views {{ post.view_count }}</small></p>
          <a href="{{ post.get_absolute_url }}" class="btn btn-primary">View post</a>
      </div>
    </div>
        {% endfor %}
    {% else %}
    <p>There are no posts here yet. Subscribe to someone to follow them!</p>
    {% endif %}
  {% endblock content %}

    {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    {% endblock %}

</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</html>